appnope==0.1.2
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
docutils==0.16
fake-useragent==0.1.11
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
lockfile==0.12.2
lxml==4.6.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pretty-errors==1.2.19
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.3
python-daemon==2.2.4
requests==2.25.1
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
